#pin_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        = image_tag @pin.image.url
      .panel-body
        %h1= @pin.title
        Technologies:
        %p.description= @pin.technologies
        %br
        Description:
        %p.description= @pin.description
        Link:
        %p.description= @pin.link
        Github:
        %p.description= @pin.github
      .panel-footer
        .row
          .col-md-6
            %p.user
              Updated on
              = @pin.user.updated_at
          .col-md-6
            .btn-group.pull-right
              - if user_signed_in? && @pin.user_id == current_user.id
                = link_to "Edit", edit_pin_path, class: "btn btn-default"
                = link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"