
<%= simple_form_for(@about) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :pone, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :ptwo, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :pthree, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :pfour, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :pfive, input_html: { class: 'form-control' } %>
  </div>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
