<!DOCTYPE html>
<html></html>
<head>
  <title>Sanderfer Chau</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"   integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="   crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "Sanderfer Chau", root_path %>
    
      </div>
        <span class="menu-trigger glyphicon glyphicon-align-justify"></span>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'About Me', abouts_path %>
        </li>
        <li>
          <a href="http://schaui6.github.io/sanderfer_chau_software_engineer.pdf" download>Resume</a>
        </li>
     
      <% if user_signed_in? %>
        
          <li>
            <%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe, new_pin_path %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-cog"></i>'.html_safe, edit_user_registration_path %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-off"></i>'.html_safe,  destroy_user_session_path, method: :delete %>
          </li>
        
      <% else %>
        
          <li>
            <%= link_to '<i class="glyphicon glyphicon-user"></i>'.html_safe, new_user_session_path %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
    <%= yield %>
  </div>
</body>

<footer class = "navbar navbar-default">
    <div class = "container">
    <p class = "navbar-text">Site Built By Sanderfer Chau</p>

    <a href = "https://www.facebook.com/sanderfer.chau" class = "navbar-btn btn-default btn pull-right"><img src = "http://schaui6.github.io/imgs/fb2.png"></a>
    <a href= "https://twitter.com/Schaui6" class = "navbar-btn btn-default btn pull-right"><img src = "http://schaui6.github.io/imgs/tw2.png"></a>
    <a href= "https://www.linkedin.com/in/sanderferchau" class = "navbar-btn btn-default btn pull-right"><img src = "http://schaui6.github.io/imgs/ln2.png"></a>
    <a href="https://github.com/schaui6" class = "navbar-btn btn-default btn pull-right"><img src = "http://schaui6.github.io/imgs/gh2.png"></a>
    </div>
</footer>


